@font-face{
    font-family:'digital-7';
    src: url('./fonts/digital-7.ttf');
   }

* {
	margin: 0;
	padding: 0;
}

body {
	color: #ffffff;
	background-color: #000000;
	font-family: 'digital-7', sans-serif;
}

main {
	text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    padding: 15px;
    border: solid 5px #ffffff;
}

/* CLOCK */
div.clock {
	text-align: center;
	font-size: 100px;
}

div.clock div{
	display: inline-block;
	position: relative;
}

div.clock div p{

	position: relative;
	z-index: 100;
}

div.clock .placeholder {
	color: #131212;
	position: absolute;
	top: 0;
	z-index: 50;
}/*END CLOCK*/

@media only screen and (max-width: 600px)  {
	div.clock{
		font-size: 75px;
	}
}


@media only screen and (max-width: 450px)  {
	div.clock{
		font-size: 50px;
	}
}

.container {
	width: 100vw;
	height: auto;
	word-wrap: break-word;
}
img {
	z-index: -1;
	width: 100%;
	height: 50vh;
}

h1 {
	font-weight: bold;
	font-size: 400%;
	text-align: center;
	color: red;

}


